@mixin desktop {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}
@mixin tablet {
	@media only screen and (max-width: 1023px) {
		@content;
	}
}
@mixin mobile {
	@media only screen and (max-width: 37.5em) {
		@content;
	}
}
@mixin responsivePadding {
	@include desktop {
		padding-right: 70px;
		padding-left: 70px;
	}
	@include tablet {
		padding-right: 50px;
		padding-left: 50px;
	}
	@include mobile {
		padding-right: 20px;
		padding-left: 20px;
	}
}

:root {
	--ctd-orange: #ff6400;
}

.ctd {
	background: #fff;
	margin-bottom: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	color: #878787;

	@include tablet {
		&:has(.main-navigation.toggled) {
			overflow: hidden;
		}
	}

	h1, h2, h3, h4, h5 {
		font-family: 'Open Sans', sans-serif;
		color: var(--ctd-orange);
	}
	
	h1 {
		font-size: 34px;
		margin-bottom: 15px;
	}
	
	h2 {
		font-size: 30px;
	}

	p {
		@include tablet {
			text-align: justify;
		}
	}

	#page {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		min-height: 100dvh;
	}
	&.admin-bar #page {
		min-height: calc(100dvh - 32px);
	}

	&__top-bar {
		position: relative;
		z-index: 2;
		background: var(--ctd-orange);
		@include responsivePadding;

		&--inner {
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0;
			text-transform: uppercase;
			color: #c73a00;
			font-family: 'Bebas Neue', sans-serif;
			font-size: 18px;
			letter-spacing: .03rem;
		}

		p {
			margin: 0;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		p span, a {
			transition: all .2s;
			margin-left: 8px;
		}

		p span, a:hover {
			color: #fff;
		}
	}

	.site-header {
		width: 100%;
		background: #f9f9f9;
		padding: 35px 0;
		@include responsivePadding;

		@include tablet {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&--inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
		}

		.site-branding {
			min-width: fit-content;
			position: relative;
			z-index: 2;

			img {
				object-fit: contain;

				@include tablet {
					width: 140px;
				}

				@include mobile {
					width: 100px;
				}
			}
		}

		.main-navigation {
			display: flex;
			justify-content: flex-end;

			@include tablet {
				&.toggled {
					#primary-menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		#primary-menu {
			display: flex;

			@include tablet {
				position: absolute;
				left: 0;
				top: 0;
				background: #fff;
				width: 100%;
				height: 100%;
				z-index: 1;
				flex-direction: column;
				padding: 150px 20px;
				opacity: 0;
				visibility: hidden;
				transition: all .2s;
			}

			> li {
				padding: 16px 12px;

				&.current_page_item {
					font-weight: bold;
					
					a::before {
						content: '';
						background: var(--ctd-orange);
						width: 100%;
						height: 4px;
						position: absolute;
						bottom: -8px;
					}
				}
			}
		}

		.sub-menu {
			border: 1px solid;
			background: #fff;
			padding: 16px 0;
			display: flex;
			flex-direction: column;
			gap: 16px;
			min-width: 122px;

			li {
				padding: 0 13px;
			}
		}

		.menu-toggle {
			@include desktop {
				display: none;
			}

			background-color: transparent;
			border: none;
			cursor: pointer;
			display: flex;
			padding: 0;
			position: relative;
			z-index: 2;

			.line {
				fill: none;
				stroke: black;
				stroke-width: 6;
				transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
				stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
			}
			.line1 {
				stroke-dasharray: 60 207;
				stroke-width: 6;
			}
			.line2 {
				stroke-dasharray: 60 60;
				stroke-width: 6;
			}
			.line3 {
				stroke-dasharray: 60 207;
				stroke-width: 6;
			}
			&[aria-expanded="true"] .line1 {
				stroke-dasharray: 90 207;
				stroke-dashoffset: -134;
				stroke-width: 6;
			}
			&[aria-expanded="true"] .line2 {
				stroke-dasharray: 1 60;
				stroke-dashoffset: -30;
				stroke-width: 6;
			}
			&[aria-expanded="true"] .line3 {
				stroke-dasharray: 90 207;
				stroke-dashoffset: -134;
				stroke-width: 6;
			}
		}

		a {
			font-size: 16px;
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
			position: relative;
			display: block;
			margin-bottom: -6px;
		}
	}

	.site-content {
		padding: 50px 0;
		@include responsivePadding;
		@include tablet {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__breadcrumb {
		margin-bottom: 40px;
		font-size: 18px;
		
		@include tablet {
			margin-bottom: 20px;
		}

		ul {
			margin: 0;
			display: flex;
			align-items: center;
			padding: 0;
		}
		li {
			color: #bababa;
			list-style: none;
			display: flex;
			align-items: center;

			&:not(:first-of-type)::before {
				content: '/';
				font-size: 20px;
				margin: 0 5px;
				font-weight: normal;
			}

			&:last-of-type {
				color: #000;
				font-weight: bold;
			}

			a {
				text-decoration: none;
				color: inherit;
			}
		}
	}

	&__section {
		width: 100%;

		&--inner {
			max-width: 960px;
			margin: 0 auto;
		}

		&--contact {
			display: flex;
			gap: 50px;

			@include mobile {
				flex-direction: column-reverse;
				gap: 20px;
			}

			> div {
				flex-grow: 1;
				width: 50%;

				@include mobile {
					width: 100%;
				}
			}

			h2 {
				font-weight: lighter;
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 6px solid #525252;
				text-transform: uppercase;
			}
		}

		&--form {
			form {
				display: flex;
				flex-direction: column;
				gap: 16px;

				p {
					display: flex;
					gap: 16px;
					margin-top: 0;
					margin-bottom: 0;

					@include tablet {
						flex-direction: column;
					}
				}

				br {
					display: none;
				}

				input, textarea {
					font-family: 'Ubuntu', sans-serif;
				}

				span:not(.wpcf7-spinner), input:not([type="submit"]), textarea {
					width: 100%;
				}

				input:not([type="submit"]), textarea {
					background: #f6f6f6;
					padding: 5px 10px;
					border-radius: 0;
					border-color: #eceaea;
					transition: border-color .2s;
					font-weight: 300;

					&:focus {
						border-color: #c6c6c6;
						outline: none;
					}
				}

				textarea {
					resize: vertical;
					min-height: 110px;
					height: 110px;
				}

				input[type="submit"] {
					background: var(--ctd-orange);
					color: #fff;
					padding: 13px 25px;
					border: none;
					text-transform: uppercase;
					border-radius: 0;
					font-weight: bold;
					cursor: pointer;
				}
			}
		}

		&--reach {
			.reach-content {
				display: flex;
				flex-direction: column;
				gap: 20px;
				justify-content: flex-start;
				height: 100%;
				font-family: 'Myriad Pro', sans-serif;
				color: #595959;
			}

			p {
				margin: 0;
				line-height: 1.2rem;

				&.location--title {
					margin-bottom: 8px;
				}
			}

			.social {
				margin-top: 30px;
				display: flex;
				gap: 5px;

				a {
					width: 32px;
					height: 32px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #d0d0d0;
					color: #fff;
					transition: all .2s;
					text-decoration: none;

					&:hover {
						background: #363636;
					}
				}
			}
		}
	}

	.site-footer {
		margin-top: auto;
		padding: 10px 0;
		text-align: center;
		@include responsivePadding;

		a {
			text-decoration: underline;
			color: #595959;
		}
	}
}